FloatingButton {
    border-radius: 56px;
    border-width: 1px;
    border-color: transparent;
    background-color: hotpink;
    width: 56px;
    height: 56px;
    padding: 17px;
}

ActionButton {
    border-radius: 56px;
    border-width: 1px;
    border-color: transparent;
    background-color: hotpink;
    width: 56px;
    height: 56px;
    padding: 17px;
}