$action-size: 50px;

$button-size: 60px;
$padding: 30px;
$bottom-nav-bar: 56px;
$top-nav-bar: 0;

$c-button-size: 60;
$c-padding: 30;
$c-bottom-nav-bar: 56;
$c-top-nav-bar: 0;

@mixin circle($size) {
    height: $size;
    width: $size;
    border-radius: $size / 2;
}

@mixin floating-button() {
    #Overlay {
        opacity: 0;
        background-color: white;
        width: 100vw;
        height: 100vh;
    }

    FloatingButton, FloatingButton-Action {
        Stack {
            width: 105px;
        }

        #ImageWrapper {
            @include circle($action-size);
            padding: $action-size / 4;

            > ImageView {
                height: $action-size / 2;
                width: $action-size / 2;
            }
        }
    }

    FloatingButton {
        #ImageWrapper {
            background-color: hotpink;
        }
    }

    FloatingButton-Action {
        #ImageWrapper {
            background-color: lightcoral;
        }
    }

    FloatingButton.right {
        left: calc("View.Root.Width, x => x - #{$c-button-size} - #{$c-padding}");
    }

    FloatingButton.bottom {
        top: calc("View.Root.Height, x => x - #{$c-padding} - #{$c-button-size} - #{$c-bottom-nav-bar}");
    }

    FloatingButton.left {
        left: $padding;
    }

    FloatingButton.top {
        top: $padding + $top-nav-bar;
    }
}
